<a href="https://colab.research.google.com/github/ccom33/BigD_Colab/blob/master/2018_12_18_%ED%8C%80%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from google.colab import drive
drive.mount('/content/gdrive')

from pandas import DataFrame, read_csv
import matplotlib.pyplot as plt

from bs4 import BeautifulSoup

movie_2017 = pd.read_csv('/content/gdrive/My Drive/Colab_Data/Doc/2017_01_movie.csv', header=3, thousands=',' , encoding='euc-kr')
movie_2017.head()

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

,순위,영화명,개봉일,매출액,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수,대표국적,국적,배급사
0,NaN,NaN,NaN,NaN,점유율,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,공조,2017-01-18,3.986355e+10,21.10%,3.986355e+10,4860116.0,4860116.0,1392.0,66643.0,한국,한국,씨제이이앤엠(주)
2,2,더 킹,2017-01-18,3.621918e+10,19.20%,3.621918e+10,4410440.0,4410440.0,1310.0,72859.0,한국,한국,(주)넥스트엔터테인먼트월드(NEW)
3,3,너의 이름은.,2017-01-04,2.751144e+10,14.60%,2.782663e+10,3417819.0,3454582.0,947.0,71919.0,일본,일본,메가박스중앙(주)플러스엠
4,4,마스터,2016-12-21,1.825639e+10,9.70%,5.804103e+10,2210450.0,7145770.0,1245.0,55943.0,한국,한국,씨제이이앤엠(주)

In [4]:
movie_2017.rename(columns={movie_2017.columns[4] : "매출액점유율"}, inplace=True)
movie_2017.head()

,순위,영화명,개봉일,매출액,매출액점유율,누적매출액,관객수,누적관객수,스크린수,상영횟수,대표국적,국적,배급사
0,NaN,NaN,NaN,NaN,점유율,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,공조,2017-01-18,3.986355e+10,21.10%,3.986355e+10,4860116.0,4860116.0,1392.0,66643.0,한국,한국,씨제이이앤엠(주)
2,2,더 킹,2017-01-18,3.621918e+10,19.20%,3.621918e+10,4410440.0,4410440.0,1310.0,72859.0,한국,한국,(주)넥스트엔터테인먼트월드(NEW)
3,3,너의 이름은.,2017-01-04,2.751144e+10,14.60%,2.782663e+10,3417819.0,3454582.0,947.0,71919.0,일본,일본,메가박스중앙(주)플러스엠
4,4,마스터,2016-12-21,1.825639e+10,9.70%,5.804103e+10,2210450.0,7145770.0,1245.0,55943.0,한국,한국,씨제이이앤엠(주)

In [5]:
movie_2017.drop([0], inplace=True)
movie_2017.head()

,순위,영화명,개봉일,매출액,매출액점유율,누적매출액,관객수,누적관객수,스크린수,상영횟수,대표국적,국적,배급사
1,1,공조,2017-01-18,3.986355e+10,21.10%,3.986355e+10,4860116.0,4860116.0,1392.0,66643.0,한국,한국,씨제이이앤엠(주)
2,2,더 킹,2017-01-18,3.621918e+10,19.20%,3.621918e+10,4410440.0,4410440.0,1310.0,72859.0,한국,한국,(주)넥스트엔터테인먼트월드(NEW)
3,3,너의 이름은.,2017-01-04,2.751144e+10,14.60%,2.782663e+10,3417819.0,3454582.0,947.0,71919.0,일본,일본,메가박스중앙(주)플러스엠
4,4,마스터,2016-12-21,1.825639e+10,9.70%,5.804103e+10,2210450.0,7145770.0,1245.0,55943.0,한국,한국,씨제이이앤엠(주)
5,5,모아나,2017-01-12,1.513690e+10,8.00%,1.513690e+10,1933044.0,1933044.0,953.0,41025.0,미국,미국,월트디즈니컴퍼니코리아 유한책임회사

In [8]:
movie_2017['흥행지수'] = (movie_2017['누적매출액 '] / movie_2017['누적관객수 ']) * movie_2017['상영횟수 ']
movie_2017.sort_values(by='흥행지수', ascending=False).head(5)

,순위,영화명,개봉일,매출액,매출액점유율,누적매출액,관객수,누적관객수,스크린수,상영횟수,대표국적,국적,배급사,흥행지수
493,합계,NaN,NaN,1.890000e+11,NaN,7.450000e+11,23255258.0,92516525.0,18032.0,537877.0,NaN,NaN,NaN,4.331317e+09
2,2,더 킹,2017-01-18,3.621918e+10,19.20%,3.621918e+10,4410440.0,4410440.0,1310.0,72859.0,한국,한국,(주)넥스트엔터테인먼트월드(NEW),5.983288e+08
3,3,너의 이름은.,2017-01-04,2.751144e+10,14.60%,2.782663e+10,3417819.0,3454582.0,947.0,71919.0,일본,일본,메가박스중앙(주)플러스엠,5.793070e+08
1,1,공조,2017-01-18,3.986355e+10,21.10%,3.986355e+10,4860116.0,4860116.0,1392.0,66643.0,한국,한국,씨제이이앤엠(주),5.466179e+08
4,4,마스터,2016-12-21,1.825639e+10,9.70%,5.804103e+10,2210450.0,7145770.0,1245.0,55943.0,한국,한국,씨제이이앤엠(주),4.543932e+08

In [14]:
import pandas as pd
from google.colab import drive
drive.mount('/content/gdrive')

from pandas import DataFrame, read_csv
import matplotlib.pyplot as plt

from bs4 import BeautifulSoup

movie_2017 = pd.read_csv('/content/gdrive/My Drive/Colab_Data/Doc/2017_01_movie.csv', header=3, thousands=',' , encoding='euc-kr')


movie_2017.rename(columns={movie_2017.columns[4] : "매출액점유율"}, inplace=True)


movie_2017.drop([0], inplace=True)
movie_2017.drop([493], inplace=True)

movie_2017['흥행지수'] = (movie_2017['누적매출액 '] / movie_2017['누적관객수 ']) * movie_2017['상영횟수 ']
movie_2017.sort_values(by='흥행지수', ascending=False).head(5)

movie_2017['흥행순위'] = movie_2017['흥행지수'].rank(ascending=False)
movie_2017.sort_values(by='흥행순위', ascending=True).head()

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

,순위,영화명,개봉일,매출액,매출액점유율,누적매출액,관객수,누적관객수,스크린수,상영횟수,대표국적,국적,배급사,흥행지수,흥행순위
2,2,더 킹,2017-01-18,3.621918e+10,19.20%,3.621918e+10,4410440.0,4410440.0,1310.0,72859.0,한국,한국,(주)넥스트엔터테인먼트월드(NEW),5.983288e+08,1.0
3,3,너의 이름은.,2017-01-04,2.751144e+10,14.60%,2.782663e+10,3417819.0,3454582.0,947.0,71919.0,일본,일본,메가박스중앙(주)플러스엠,5.793070e+08,2.0
1,1,공조,2017-01-18,3.986355e+10,21.10%,3.986355e+10,4860116.0,4860116.0,1392.0,66643.0,한국,한국,씨제이이앤엠(주),5.466179e+08,3.0
4,4,마스터,2016-12-21,1.825639e+10,9.70%,5.804103e+10,2210450.0,7145770.0,1245.0,55943.0,한국,한국,씨제이이앤엠(주),4.543932e+08,4.0
5,5,모아나,2017-01-12,1.513690e+10,8.00%,1.513690e+10,1933044.0,1933044.0,953.0,41025.0,미국,미국,월트디즈니컴퍼니코리아 유한책임회사,3.212506e+08,5.0

ValueError: ignored